---
permalink: /
title: Loam - Games, Apps & Media
description: Indie creator making both physical and traditional art, games, and media
tags: games, art, media, app, apps, loam, indie, applications, software, dev, developer, mobile, desktop, net, network
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include navigation.html %}

		<div class="container">
			<div class="row" style="margin-top: 100px;">
				<div class="col"></div>
				<div class="col-6">
					<img class="img-fluid" style="width: 100%; max-width: 240px;" src="/assets/loam.png" alt="Geometric green sprout-shaped logo with a negative space L">
					<br/>
					<br/>
					<!--h1 style="font-size: calc(3.5em);">Loam</h1-->	
					<p>I'm an Indie creator making things both physically and digitally, mostly handmade paper, watercolor, and some games - I've also got some resources posted to help you with your projects too!</p>
				</div>
				<div class="col"></div>
			</div>

			<!--div>
			<a class="btn btn-outline-dark loam-social loam-social-donate" h><i class="fas fa-donate"></i></a>
			</div-->

			<div>
				<a class="btn btn-outline-dark" href="/art">Art</a>
				<a class="btn btn-outline-dark" href="/games">Games</a>
				<a class="btn btn-outline-dark" href="/resources">Resources</a>
			</div>

			<!-- Horizontal Divider -->
			<p class="loamDivider"><i class="fas fa-seedling" aria-hidden="true"></i>&emsp;<i class="fas fa-seedling" aria-hidden="true"></i>&emsp;<i class="fas fa-seedling" aria-hidden="true"></i></p>

			<div class="row">
				<div class="col"></div>
				<div class="col-6">
					<h2>Contact & Commissions</h2>
				<p>Interested in comissioning custom art, stationery, or some game work? Let me know!</p>
				</div>
				<div class="col"></div>
			</div>

			<p style="max-width: 320px; margin-left: auto; margin-right: auto; text-align: left;">						
				<form style="max-width: 320px; margin-left: auto; margin-right: auto; text-align: left;"
				  action="https://formspree.io/xnqdbzjk"
				  method="POST"
				>
				  <label>
				    <strong>Email</strong><br/>
				    <span style="font-size: .8em;"><em>I need it to be able to contact you!</em></span>
				    <input style="width: 100%;" type="email" name="contact" required>
				  </label>
				  <br/>
				  <label>
				    <strong>Commission request or question:</strong><br/>
				    <textarea style="width: 100%; width: 320px;" name="message"></textarea>
				  </label>
				<br/>
				  <!-- your other form fields go here -->

				  <button class="btn btn-outline-dark" type="submit">Submit</button>
				</form>
			</p>

		<br/>
		<br/>
		<br/>

		{% include footer.html %}
		
		</div> <!-- /Container -->
		<!-- bootstrap, jquery, and scripts for loading -->		
		<script src="/assets/jquery-3.4.1.min.js"></script>
		<script src="/assets/bootstrap.bundle.min.js"></script>		

	</body>
</html>
