<!-- Metadata -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | replace: '<p>', '' | replace: '</p>', ''}}{% endif %}">
<meta name="keywords" content="{{ page.tags }}">
<meta name="author" content="Loam">

<!-- Page Setup -->
<title>{{ page.title }}</title>
<link rel="shortcut icon" href="/assets/favicon.ico"/>

<!-- Open Graph (and related) meta -->
<meta property="og:site_name" content="Loam">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | replace: '<p>', '' | replace: '</p>', ''}}{% endif %}">
<meta property="og:image" content="https://loam.net/assets/loam.png">
<meta property="og:url" content="https://loam.net{{ page.url }}">
<meta property="og:type" content="website">

<!-- Bing meta -->
<meta name="msvalidate.01" content="E8416603DBD656988DEF0F5979A9D550"/>

<!-- Style, Bootstrap, etc -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/styleGlobal.css">
<link rel="stylesheet" type="text/css" href="/assets/styleColors.css">

<!-- Inline styling -->
<style type="text/css">
	body {
		color: #736965;
	}

	h1 {
		display: inline-block;
		font-family: brandish;
	}

	h2 {
		font-size: 1.25em;
	}

	p {
		/*font-family: 'Comfortaa', sans-serif;*/
		font-family: 'Montserrat', sans-serif;
	}

	.item {
		display: inline-block;
		margin: 3px;
	}

	.maxed {
		font-size: 1em;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
</style>

<!-- Google Structured Data. Validate with https://search.google.com/structured-data/testing-tool -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://loam.net/",
  "logo": "https://loam.net/assets/loam.png",
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "+1-425-298-6054",
      "contactType": "customer service",
      "availableLanguage": "English"
    },
    { "@type": "ContactPoint",
      "telephone": "+1-425-298-6054",
      "contactType": "technical support",
      "availableLanguage": "English"
    }
  ]
}
</script>
