<!-- Title and nav links -->
<nav class="navbar navbar-expand-lg navbar-light loam-nav-container">
	<a class="navbar-brand" {% if page.url == "/" %}href="#"{% else %}href="/"{% endif %}><img class="testlogo d-inline-block align-top" src="/assets/loam.png" alt="Geometric green sprout-shaped logo with a negative space L"><h1>Loam</h1></a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="loam-nav-visuals loam-color-brown-s0">
			<i class="fas fa-bars"></i>
		</span>
	</button>

	<div class="collapse navbar-collapse navbarSupportedContent">
		<ul class="navbar-nav text-left">
			<a class="nav-item nav-link" style="padding-left: 6px;" {% if page.url == "/explore/" %}href="#"{% else %}href="/explore/"{% endif %}><h2>Explore</h2></a>
			<a class="nav-item nav-link" style="padding-left: 6px;" {% if page.url == "/resources/" %}href="#"{% else %}href="/resources/"{% endif %}><h2>Resources</h2></a>
			<a class="nav-item nav-link" style="padding-left: 6px;" {% if page.url == "/blog/" %}href="#"{% else %}href="/blog"{% endif %}><h2>Blog</h2></a>
			<a class="nav-item nav-link" style="padding-left: 6px;" {% if page.url == "/contact/" %}href="#"{% else %}href="/contact/"{% endif %}><h2>Contact</h2></a>
		</ul>
	</div>
</nav>