@font-face {
  font-family: brandish;
  src: url(Brandish-Regular.woff);
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
}

h1 {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 2em;
  font-family: brandish;
}

h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

.loam-thing-container {
  margin-left: auto;
  margin-right: auto;
}

.loam-things {
  width: 100%;
  position: absolute;
  opacity: .3;
  bottom: 5px;
  z-index: 1;
}

.loam-relative {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0px;
}

.loam-svg {
  width: 100%;
  height: 100vh;
}

.loam-background-video {
  display: inline-block;
  vertical-align: middle;

  position: absolute;
  margin: 0px;
  padding: 0px;

  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  
  /* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
  width: 368px;
  height: 207px;
}

#maskLayer {
  text-align: center;
}

#maskText {
    text-align: center;
    font-family: brandish;
    font-size: 6.6em;
    fill:#000;
    text-shadow: 2px 2px #bbbbbb;
}

#masked {
    mask:url("#maskLayer");
}

.loam-logo-text {
  float: left;
}

/* For divs containing links overlayed on the site */
.loam-links {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

/* social button behavior and coloring */
.loam-social {
  width: 46px;
  height: 38px;
  color: rgba(0.1,0.1,0.1,1);
}
.loam-social:hover {
  color: white;
}

/* --------------------- */

.loam-shrinkwrap {
  display: inline-block;
}

.loam-label-beta {
  margin-top: -15px; 
  float: right; 
  margin-right: -10px;
}

.loam-separator {
  max-width: 200px;
}

@keyframes hovering {
  to { transform: translatey(-30px);}
}