@font-face {
  font-family: brandish;
  src: url(Brandish-Regular.woff);
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: #f8f8f8;
}

h1 {
  font-family: brandish, serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

nav h1 {
  display: inline-block;
  font-size: 1.5em;
  font-family: brandish, serif;
  color: #38322F;
}
nav h1:hover {
  color: #f8f8f8;
}

nav h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.05em;
  font-family: 'Montserrat', sans-serif;
  color: #38322F;
}
nav h2:hover {
  color: #f8f8f8;
}

.loam-nav-buffer {
  margin: 0px;
  padding: 0px;
  height: 50px;
}

.loam-nav-container {
  width: 100%;
  position: absolute;
  z-index: 2;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: inset 0px -20px 5px -20px #38322FA0;
  background-color: #AEA09B;

  position: fixed;
  top: 0;
  width: 100%;
}
.loam-nav-container .navbar-brand {
  padding: 0px;
  padding-top: 4px;
}

.loam-nav-visuals {
  padding: 10px;
}

.navbar-toggler {
  border: none;
  border-radius: none;
  outline: none;
}

.navbar-toggler {
  outline: none !important;
  box-shadow: none;
}

.loam-copy {
  font-size: 10px;
  opacity: .8;
}