.loam-relative {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0px;
}

.loam-svg {
  width: 100%;
  height: 100vh;
}

.loam-background-video {
  display: inline-block;
  vertical-align: middle;

  position: absolute;
  margin: 0px;
  padding: 0px;

  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  
  /* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
  width: 368px;
  height: 207px;
}

#maskLayer {
  text-align: center;
}

#maskText {
    text-align: center;
    font-family: brandish, serif;
    font-size: 6.6em;
    fill:#000;
    text-shadow: 3px 3px #aaa;
}

.masked {
    mask:url("#maskLayer");
}
.maskedtw {
    mask:url("#maskLayer");
}
/* For divs containing links overlaid on the site */
.loam-links {
  position: absolute;
  z-index: 1;
  bottom: 15px;
  right: 15px;
}

.loam-art-credit {
  font-family: 'Montserrat', sans-serif;
  font-size: .65em;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 15px;
}

.loam-art-credit a {
  color: #f8f8f8
}

/* social button behavior and coloring */
.loam-social {
  width: 46px;
  height: 38px;
}
.loam-social-youtube:hover {
  color: rgb(230, 30, 30);
}
.loam-social-twitter:hover {
  color: rgb(30, 170, 250);
}

@keyframes hovering {
  to { transform: translatey(-30px);}
}