img {
	max-width: 400px;
	border: 1px solid rgba(115, 105, 100, .7);
	border-radius: 5px;
}

#loam-markdown {
	margin-bottom: 2em;
}

.loam-back-button {
	margin-top: 2em;
	margin-bottom: 2em;
}

.loam-bottom-spacer {
	margin-bottom: 1em;
}