<!--
This is for markdown-based liquid pages.

Feature pages are to be used for hybrid pages that sit at a fixed location, and pull from an existing blog post. Often, they're associated with specific resource material, and can be anything from small snippets to long step-by-step guides
-->
<!DOCTYPE html>
<html lang="en-US">
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include navigation.html %}
		<!-- Primary content section -->
		<div class="loam-nav-buffer"></div>
		<br/>
		<br/>
		<div class="container items text-left">
			{{ content }}
			<br/>
			<br/>
			<br/>
			<hr/>
			<p class="loam-copy">Copyright &copy; 2019-2020 Loam LLC - all rights reserved. Trademarks belong to their respective owners.</p>
		</div>

		<!-- Scripts required for all -->
		<script src="/assets/jquery-3.4.1.min.js"></script>
		<script src="/assets/bootstrap.bundle.min.js"></script>
	</body>
</html>
