<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Metadata -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Interested in getting in touch? Feel free to shoot us an email or sent us a DM on twitter!">
		<meta name="keywords" content="loam, business, contact, mail, email, twitter, online, contact us, phone, email, tweet, service, services, contract, contracting, hire">
		<meta name="author" content="Matthew Cech">

		<!-- Page Setup -->
		<title>{{ page.title }}</title>
		<link rel="shortcut icon" href="/assets/favicon.ico" />

		<!-- Style, Bootstrap, etc -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/styleGlobal.css">
		<link rel="stylesheet" type="text/css" href="/assets/styleColors.css">
	</head>
	<body>
		{% include navigation.html %}
		<!-- Primary content section -->
		<div class="loam-nav-buffer"></div>
		<br/>
		<br/>
		<div class="container items">
			{{ content }}
			<br/>
			<br/>
			<br/>
			<hr/>
			<p class="loam-copy">Copyright &copy; 2019 Loam LLC - all rights reserved. Trademarks belong to their respective owners.</p>
		</div>
	</body>
</html>
